doctype html
html
  head
    meta(charet="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title = 'FCC Manchester'
    meta(name="description" content="FreeCodeCamp Manchester Home page and resource sharer")
    meta(property="og:locale" content="en_GB")
    meta(property="og:type" content="website")
    meta(property="og:title" content="FreeCodeCamp Manchester")
    meta(property="og:description" content="Home of FreeCodeCamp Manchester, sharing advice and resources for FreeCodeCamp users.")
    meta(property="og:url" content="#TBC#")
    meta(property="og:site-name" content="#TBC#")
    meta(property="og:image" content="#TBC#")
    meta(property="twitter:card" content="summery_large_image")
    meta(property="twitter:description" content="Home of FreeCodeCamp Manchester, sharing advice and resources for FreeCodeCamp users.")
    meta(property="twitter:title" content="FreeCodeCamp Manchester")
    meta(property="twitter:site" content="#TBC#")
    meta(property="twitter:image" content="#TBC#")

    link(rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css")
  body
    #root
