// This needs refactoring.

//@import './resets/normalize.css';
@import './globals.sass'
// global Nav styles
@import './topBarStyles.sass'
@import './navToggle.sass'
@import './mainNavigation.sass'

html, body, #root, .fill
  height: 100%
  width: 100%

body
  font-size: 16px
  min-width: 320px
  min-height: 420px
