// This needs refactoring.

//@import './resets/normalize.css';
@import './globals.sass'
// global Nav styles
@import './topBarStyles.sass'
@import './navToggle.sass'
@import './mainNavigation.sass'

html, body, #root, .fill
  height: 100%
  width: 100%

body
  font-size: 16px
  min-width: 320px
  min-height: 420px


// home page styles
.home-page
  //position: relative
  background: $main-col
  padding-top: 20px
  padding-left: 10px
  &::before
    // covers the padding-top from the page-content
    position: absolute
    height: $topBar-size
    width: 100%
    top: 0
    left: 0
    background: $main-col
    z-index: 10
    content: ''

.menu-square-container
  width: 40%
  transition: box-shadow 0.1s, border 0.1s
  //max-width: 400px // sets whole width
  &:hover
    box-shadow: 0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23)
    border: 1px solid rgba(black, 0.01)
  .menu-square
    position: relative
    padding-bottom: 100% // sets aspect ratio 100% == 1:1
    background: white
    span
      position: absolute
      display: block
      color: $main-col
      font-weight: bold
      // center
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)





// About page stuff here for now too
.about-banner
  margin: $spacer*2 auto
  height: 300px
  // temp color - replace with img
  background: $highl-col

// contact page stuff
.contact-links
  margin: $spacer*2 auto
  text-align: center
  a:hover
    text-decoration: none
  i
    display: block
    font-size: 4em


// page stuff here for now

.page-content
  position: relative
  height: 100%
  padding-top: $topBar-size
  ::selection
    background: $highl-col

  .content-box
    padding: $spacer
    margin: $spacer
    background: $off-white


@media screen and (min-width: $md-breakpoint)
  .page-content
    padding-top: 80px
    width: 70%
    float: right

@media screen and (min-width: 1200px)

  .page-content
    // max width of .main-nav is 350px once reached content should stretch to fit
    width: calc(100% - 350px)
