$main:      #b04632;
$white:     #ffffff;
$font:      nunito sans;

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

h1, h2, h3, h4, h5, h6, p, a{
  font-family: $font;
  font-weight: 500;
}
a{
  color: #5FBAD7;
}
body{
  margin: 0;
}
nav{
  text-align: center;
  background: $main;
  height: 100px;
  svg{
    width: 70px;
  }
}
.opening{
  margin-top: 80px;
  text-align: center;
  width: 100%;
  p{
    width: 50%;
    text-align: justify;
    display: inline-block;
    margin-bottom: 80px;
    font-weight: 300;
    line-height: 1.4;
  }
}
.meetups{
  background: #DE5E45;
  color: white;
  text-align: center;
  width: 100%;
  padding-top: 120px;
  h3{
    width: 60%;
    max-width: 645px;
    display: inline-block;
    line-height: 1.4;
    margin-bottom: 120px;
  }
}
.spaceport{
  background: rgba(45, 164, 201, 0.75);
  background-size: cover;
  background-position: center center;
  min-height: 200px;
  height: 50vw;
  max-height: 600px;
  svg{
    width: 50%;
  }
}
.about{
  div{
  flex: 1 1 300px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vw;
    &:first-child{
    background: #FF7E65;
    color: white;
    align-self: stretch;
    }
    p{
      text-align: justify;
      width: 80%;
      max-width: 300px;
      line-height: 1.4;
    }
  }
}
.contact{
  background: #D46853;
  color: white;
  text-align: center;
}

@media (max-width: 767px){
  .opening{
    p{
      width: 80%;
    }
  }
  .meetups{
    h3{
      width: 80%;
    }
  }
  .spaceport{
    height: 70vw;
  }
  .about{
    div{
      &:first-child{
        height: 70vw;
      }
      &:nth-child(2){
        height: auto;
      }
      p{
        max-width: 70%;
      }
    }
  }
}
