$main:      #b04632;
$white:     #ffffff;
$font:      nunito sans;

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

h1, h2, h3, h4, h5, h6, p, a{
  font-family: $font;
  font-weight: 500;
}
a{
  color: #5FBAD7;
}
body{
  margin: 0;
}
nav{
  text-align: center;
  background: $main;
  height: 100px;
  svg{
    width: 70px;
  }
}
.opening{
  padding: 14% 0px;
  text-align: center;
  width: 100%;
  h2{
    margin-top: 0;
  }
  p{
    width: 50%;
    text-align: justify;
    display: inline-block;
    font-weight: 300;
    line-height: 1.4;
  }
}
.meetups{
  background: #DE5E45;
  color: white;
  text-align: center;
  width: 100%;
  padding: 14% 0px;
  div{
    h1{
      margin-top: 0;
    }
    h6{
      width: 90%;
      max-width: 645px;
      display: inline-block;
      line-height: 1.4;
      margin-top: 0;
    }
  }

}
.spaceport{
  background: rgba(45, 164, 201, 0.75);
  background-size: cover;
  background-position: center center;
  min-height: 200px;
  height: 50vw;
  max-height: 600px;
  svg{
    width: 50%;
  }
}
.about{
  background: #FF7E65;
  div{
  flex: 1 1 300px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45vw;
    &:first-child{
    background: #FF7E65;
    color: white;
    align-self: stretch;
    }
    &:nth-child(2){
    background: white;
    }
    p{
      text-align: justify;
      width: 80%;
      max-width: 300px;
      line-height: 1.4;
      margin: 0;
    }
  }
}
.contact{
  background: #D46853;
  color: white;
  text-align: center;
}
.contact{
  padding: 120px 0 80px 0;
  h1{
    margin: 0 0 70px 0;
  }
  .organisers{
    margin: 30px auto 0 auto;
    width: 80%;
    div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1 1 150px;
      img{
        width: 120px;
        margin-bottom: 10px;
      }
      p{
        line-height: 1.4;
      }
    }
  }
}
.social{
  width: 500px;
  margin: 80px auto 50px auto;
  div{
    width: 15vw;
    &:first-child img{
      width: 40%;
    }
    img{
      width: 100%;
    }
  }
}
.location{
  width: 100%;
  background: #FF7E65;
  color: white;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  div{
    flex: 1 1 350px;
    width: 50%;
    margin: 0 auto;
    &:nth-child(2){
      background: url("../img/map.png");
      padding-top: 55%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }
}
.details{
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2{
    margin-top: 0;
  }
  h5{
    margin: 0;
  }
}

@media (max-width: 767px){
  .opening{
    p{
      width: 80%;
    }
  }
  .meetups{
    h3{
      width: 80%;
    }
  }
  .spaceport{
    height: 70vw;
  }
  .about{
    div{
      &:first-child{
        height: 70vw;
      }
      &:nth-child(2){
        height: auto;
      }
      p{
        max-width: 70%;
        padding: 10%;
      }
    }
  }
  .contact{
    .organisers{
      p{
        margin-bottom: 50px;
      }
    }
  }
  .social{
    width: 100%;
  }
  .location{
    div{
      &:nth-child(2){
        padding-top: 100%;
      }
    }
  }
}
